/* GENERAL */
.img-cover {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
}
.degrade-to-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.bg-street{
    background-image: url(/vues/assets/images/image2a.png);
    background-size: cover;
    object-position: 50% 100%;
}
.bg-street-2{
    background-image: url(/vues/assets/images/image2a.png);
    background-size: contain;
    object-position: 50% 100%;
}

/* HEADER  - and NAVBAR*/
.navbar-nav li a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
}
.nav-item a {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(24, 24, 24) !important;
}
.nav-item ::after {
    color: black;
}
.nav-items:disabled{
    color: rgb(71, 71, 71);
}
.bg-grey{
    background-color: rgba(221, 221, 221, 0.294);
}
#navbar-header{
    z-index: 1000000;
}

/*Seb Add*/

.shdw{
    text-shadow: 0px 2px 9px #000000;
    border-radius: 50px;
}
 .sebshdw{
    -webkit-box-shadow: inset 5px 5px 15px 5px rgba(6,6,6,0.6) !important; 
    box-shadow: inset 5px 5px 15px 5px rgba(6,6,6,0.6) !important;
    border-radius: 50px;

 }

 .btn{
    border-radius: 50px !important;
 }


/* FOOTER */
#bg-quote {
    background-image: url(/vues/assets/images/image2a.jpg);
    background-size: cover;
    object-position: 50% 100%;
    font-size: x-large;
    z-index: -1;
}
#footer-bottom a {
    font-size: larger;
    text-transform: uppercase;
}
#footer-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    font-size: x-large;
    letter-spacing: 2px;
}
#quote {
    width: max-content;
    font-size: xx-large;
    font-weight: bolder;
    color: #e0dfdc;
letter-spacing: .1em;
text-shadow: 0 -1px 0 grey, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 22px 30px rgba(0,0,0,0.9);

    }
.blockquote-footer {
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: white;
}
#footer-btn{
    z-index: 1;
}

 /*  INDEX */
 /*- PARALLAX */
 *,  *::after {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
  
  .section {
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    font-weight: bolder;
    text-shadow: 4px 3px 0 #7A7A7A;
    transform-style: preserve-3d;
  }
  .section.parallax{
    height: 70vh;
  }
  
  .parallax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }
  
  .static {
    background: grey;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height:42px;
    color: #000000;
    padding-right:10%;
    padding-left:10%;
    padding-top:0%;
    text-align: center;
    font-size: x-large !important;
    padding-bottom:10%;
  }
  
  .bg1::after {
    background-image: url(/vues/assets/images/image.jpg);
  }
  
  .bg2::after {
    background-image: url(/vues/assets/images/parkour-street.jpg);
  }
  .bg3::after {
    background-image: url("https://thumbs.dreamstime.com/z/silhouettes-14556591.jpg");
  }
  .bg4::after {
    background-image: url(/vues/assets/images/image9.jpg);
  }
  .bg5::after {
    background-image: url("https://st.depositphotos.com/1005731/1413/v/950/depositphotos_14130958-stock-illustration-music-event-background-vector-eps10.jpg");
  }


/* LOGIN */
div.card-img-top {
    height: 18rem;
}
#img-login {
    background-image: url(/vues/assets/images/image4.jpg);
    background-size: cover;
    background-position: 100% 70%;
}

/* COURS-PLANNING */
#planning-me {
    letter-spacing: -1px;
}
.etiquetteCours {
    max-width: 200px;
}
.card-cours a {
    width: 12rem;
}

.container-planning {
    align-items: stretch
}
.inscrit a {
    color: black;
}
.card-link{
    color:black;
    text-decoration: none;
}
.card-link ::after {
    color:rgb(195, 195, 195)
}
.card-cours .card{
    background: none !important;
    
}


/* TOUS LES COURS */
.tous-cours h2{
    background-image:linear-gradient(to top, transparent, gray, gray, gray, gray, gray, gray, gray, gray, transparent);
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 2px;
    color: lightgray;
   -webkit-box-shadow: inset 5px 5px 15px 5px #060606; 
    box-shadow: inset 5px 5px 15px 5px #060606;

    border-radius: 5px;
}

/* PROFIL */
.card-profil a {
    width: 12rem;
}


/* CONTACT */
.contact-cards .card-header{
    font-weight: bold;
}


